@font-face {
    font-family: 'code';
    src: url('./fonts/ProggySquare.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
}

#preloader {
    background: #000; 
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
}

#ascii-frog {
    color: #32CD32; 
    font-family: monospace; 
    font-size: 1rem; 
    text-align: center;
}


body {
    position: relative;
    margin: 0;
    height: 100vh; 
}

.aboutme {
    position: absolute;
    color: black;
    font-size: 1rem;
    font-family: 'code', Arial, Helvetica, sans-serif;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%); 
    text-align: center; 
    padding:0.5rem;
}

.aboutme button {
    height: 5rem;
    width: 15rem;
    background-color: greenyellow;
    color: #000;
    font-size: 12rem;
    margin: 0 auto; 
    display: block; 
    cursor: pointer;
}

a{
    text-decoration: none;
}

.social-links{
    position:absolute;
}

.email-link {
    font-family: 'code';
    font-size: 24px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: color 0.3s ease;
    cursor: pointer; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.email-link:hover {
    color: #32CD32;
}

form{
position: absolute;
   margin: 70vh 50vw; 
   transform: translate(-50);
   display: flex;
    justify-content: center;
    align-items: center;
}